@import url("reset.css");
body {
	background-color: white;
}
.target {
	position: relative;
}
#image {
	max-width: 960px;
	max-height: 500px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.marker {
	position: absolute;
	width: 8px;
	height: 8px;
	background-color: black;
	border-style: solid;
	border-width: 2px;
	border-color: white;
}
.text {
	color: white;
	position: absolute;
	width: 100px;
	height: 30px;
	font-family: 'Helvetica Neue',sans-serif;
	background-color: black;
	border-style: solid;
	border-width: 2px;
	border-color: white;
}
